html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
 }
.header{
	background: url(https://www.bmw.ua/content/dam/bmw/common/all-models/x-series/x7/2022/highlights/bmw-x-series-x7-sp-mobile.jpg/jcr:content/renditions/cq5dam.resized.img.485.low.time1645602647664.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.about img{
	display: inline-block;
	width: 120px;
	height: 120px;
}
.about .row .text-center{
	border-right: 0px solid white;
}
.about h3{
	padding-top: 10px;
}
.about .row .col-sm-3{
	border-bottom: 1px solid black;
}
.about .row .col-sm-9{
	padding-top: 20px;
}
.products .top{
	padding-top: 10px;
}
.feedback .col-sm-4{
	padding-bottom: 10px;
}
